# Resources
resources/

# Configuration
.env*
.*.json

# File systems
.DS_Store

# Editors
.idea/
.vscode/
*.swp
*.code-workspace

# Python
.venv
__pycache__/
*.py[cod]
*$py.class
eggs/
.eggs/
wheels/
*.egg-info/
*.egg

# C++
vcpkg/
build/

